allow init app_data_file:dir setattr;
allow init fingerprintd:binder { transfer call };
allow init gx_fpd_device:chr_file { write ioctl };
allow init sysfs_devices_system_cpu:dir write;
allow init sysfs:file { read write create setattr };
allow init firmware_file:dir { read write create mounton setattr };
allow init adsprpcd_file:dir { read write create setattr };
allow init hal_light_hwservice:hwservice_manager { add find };
allow init hal_drm_hwservice:hwservice_manager { add find };
allow init hal_sensor_hwservice:hwservice_manager { add find };
allow init hidl_base_hwservice:hwservice_manager add;
allow init sockfs:socket { read ioctl };
allow init servicemanager:binder transfer;
allow init sensorservice_service:service_manager add;
allow init property_socket:sock_file write;
allow init pstorefs:dir mounton;
allow init self:netlink_route_socket { bind create setopt };
allow init self:tcp_socket { create ioctl };
allow init sensors_device:chr_file { write ioctl };
allow init socket_device:sock_file { create setattr };
allow init thermal_device:chr_file ioctl;
