# Copyright (c) 2013-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import init.qcom.power.rc
import init.variant.rc

on init
    export LD_SHIM_LIBS "/system/vendor/lib/lib-imsvt.so|libshims_ims.so"
    export LD_SHIM_LIBS "libshim_camera.so:/system/lib/hw/camera.msm8937.so|libshim_camera.so:/system/lib/libfilm_emulation.so|libshim_camera.so"

on boot
    # For setting tcp delayed ack
    chown system system /proc/sys/net/ipv4/tcp_delack_seg
    chown system system /proc/sys/net/ipv4/tcp_use_userconfig

    # Enable sched_boost
    write /proc/sys/kernel/sched_boost 1

    # Define TCP delayed ack settings for WiFi & LTE
    setprop net.tcp.delack.default     1
    setprop net.tcp.delack.wifi        1
    setprop net.tcp.delack.lte         8
    setprop net.tcp.usercfg.default    0
    setprop net.tcp.usercfg.wifi       0
    setprop net.tcp.usercfg.lte        1

    chown system system /sys/devices/virtual/input/lge_touch/incoming_call
    chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
    chown system system /sys/devices/virtual/input/lge_touch/ime_status
    chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
    chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
    chown system system /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
    chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
    chown system system /sys/devices/virtual/input/lge_touch/ts_noise
    chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise

    chown system system /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time

    # Reader mode
    chown system system /sys/devices/virtual/graphics/fb0/reader_mode
    chmod 664 /sys/devices/virtual/graphics/fb0/reader_mode

    chown system system /sys/class/leds/red/pattern_id
    chmod 0664 /sys/class/leds/red/pattern_id
    chown system system /sys/class/leds/red/timed
    chmod 0664 /sys/class/leds/red/timed
    chown system system /sys/class/leds/red/time_on_off
    chmod 0664 /sys/class/leds/red/time_on_off

   chown system input /sys/devices/virtual/input/lge_fingerprint/testmode
   chown system input /sys/devices/virtual/input/lge_fingerprint/spitest
   chown system input /sys/devices/virtual/input/lge_fingerprint/zonetest
   chown system input /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chown system input /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chown system input /sys/devices/virtual/input/lge_fingerprint/intstatus
   chown system input /sys/devices/virtual/input/lge_fingerprint/qup_id
   chown system input /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chown system input /sys/devices/virtual/input/lge_fingerprint/spi_prepare

   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/testmode
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spitest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/zonetest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/checkerbdtest
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/rubbertest
   chmod 0440 /sys/devices/virtual/input/lge_fingerprint/intstatus
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/qup_id
   chmod 0220 /sys/devices/virtual/input/lge_fingerprint/waitfinger
   chmod 0660 /sys/devices/virtual/input/lge_fingerprint/spi_prepare

on post-fs-data
    # Fix permission for telephony
    chmod 0644 /proc/cmdline

   # make factory test result directory
   mkdir /sns/fingerprint 0775 system system

   # led
   chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
   chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
   chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
   chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
   chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
   chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
   chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/setting
   chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/setting
   write /sys/devices/virtual/lg_rgb_led/use_patterns/setting 1

service baseband-sh /system/bin/sh /init.baseband.sh
    class late_start
    user root
    oneshot

service bt-sap /system/bin/sapd 15
   user bluetooth
   group bluetooth
   class late_start
   disabled
   oneshot

# fidod
service fidod /system/bin/fidod
    class late_start
    user system
    group system

service amp_init /system/bin/amploader -i
    class late_start
    user root
    disabled
    oneshot

service amp_load /system/bin/amploader -l 7000
    class late_start
    user root
    disabled
    oneshot

service amp_unload /system/bin/amploader -u
    class late_start
    user root
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep1 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep2 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep3 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep4 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

# Coresight post boot servive
service cs-post-boot /system/bin/sh /persist/coresight/qdss.agent.sh
    user root
    disabled
    oneshot

service moca_service /system/bin/advanced_moca -s
    class late_start
    user root
    group system sdcard_r sdcard_rw radio
    disabled
    oneshot
    socket Full.MOCA.port stream 660 system system

service moca_service_disable /system/bin/advanced_moca -k
    class late_start
    user root
    group system sdcard_r sdcard_rw radio
    disabled
    oneshot

service imsqmidaemon /system/vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log diag
    disabled

on property:persist.service.moca.enable=1
   start moca_service

on property:persist.service.moca.enable=0
   start moca_service_disable

on property:sys.boot_completed=1
    start cs-post-boot

on property:sys.dbg.coresight.enable=1
    write /persist/coresight/enable 1

on property:sys.dbg.coresight.enable=0
    write /persist/coresight/enable 0

on property:bluetooth.sap.status=running
    start bt-sap

on property:bluetooth.sap.status=stopped
    stop bt-sap

on property:service.qti.ims.enabled=1
    start imsqmidaemon

on property:vold.decrypt=trigger_restart_min_framework
    start time_daemon
