on boot
    # White light
    chown system system /sys/class/leds/white/blink
    chown system system /sys/class/leds/white/brightness
	
    chmod 660 /sys/class/leds/white/blink
    chmod 660 /sys/class/leds/white/brightness

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.xiaomi_8917
    class hal
    user system
    group system
